<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314843853869-n3gvefd45sak5ugg8994juepk8qdirur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314843853869-n3gvefd45sak5ugg8994juepk8qdirur</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314843853869-8vco1mkivn0pduh4c237j1ghhhojp9c1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtRC28Gffuc-P9W1zDYTghFdb87hySlrk</string>
	<key>GCM_SENDER_ID</key>
	<string>314843853869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rbhan.app</string>
	<key>PROJECT_ID</key>
	<string>coupon-d52b2</string>
	<key>STORAGE_BUCKET</key>
	<string>coupon-d52b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314843853869:ios:88efec8fa83e86b14f74a4</string>
	<key>DATABASE_URL</key>
	<string>https://coupon-d52b2-default-rtdb.firebaseio.com</string>
</dict>
</plist>